-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: mm_pharma
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `admin_alertas_notificaciones`
--

DROP TABLE IF EXISTS `admin_alertas_notificaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_alertas_notificaciones` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cliente_id` int(11) NOT NULL COMMENT 'FK -> clientes_usuarios.id',
  `titulo` varchar(200) NOT NULL,
  `mensaje` text NOT NULL,
  `leida` tinyint(1) NOT NULL DEFAULT 0,
  `tipo` enum('INFO','SUCCESS','WARNING','ERROR') DEFAULT 'INFO',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_cliente_notif` (`cliente_id`),
  KEY `idx_leida` (`leida`),
  CONSTRAINT `fk_notif_cliente` FOREIGN KEY (`cliente_id`) REFERENCES `clientes_usuarios` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_alertas_notificaciones`
--

LOCK TABLES `admin_alertas_notificaciones` WRITE;
/*!40000 ALTER TABLE `admin_alertas_notificaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_alertas_notificaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_banners_promocionales`
--

DROP TABLE IF EXISTS `admin_banners_promocionales`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_banners_promocionales` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `titulo` varchar(200) DEFAULT NULL,
  `ruta_imagen` varchar(300) NOT NULL,
  `enlace_url` varchar(300) DEFAULT NULL,
  `orden` int(11) NOT NULL DEFAULT 0,
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_banners_promocionales`
--

LOCK TABLES `admin_banners_promocionales` WRITE;
/*!40000 ALTER TABLE `admin_banners_promocionales` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_banners_promocionales` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_configuracion`
--

DROP TABLE IF EXISTS `admin_configuracion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_configuracion` (
  `clave` varchar(100) NOT NULL,
  `valor` text DEFAULT NULL,
  `descripcion` varchar(300) DEFAULT NULL,
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`clave`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_configuracion`
--

LOCK TABLES `admin_configuracion` WRITE;
/*!40000 ALTER TABLE `admin_configuracion` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_configuracion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_inventario_movimientos`
--

DROP TABLE IF EXISTS `admin_inventario_movimientos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_inventario_movimientos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `producto_id` int(11) NOT NULL COMMENT 'FK -> catalogo_productos.id',
  `tipo` enum('ENTRADA','SALIDA','AJUSTE') NOT NULL,
  `cantidad` int(11) NOT NULL COMMENT 'Positivo = entrada, negativo = salida/ajuste',
  `referencia` varchar(150) DEFAULT NULL COMMENT 'Ej. Pedido #ORD-8821, Lote V23-01',
  `motivo` varchar(300) DEFAULT NULL COMMENT 'Ej. Reabastecimiento, Merma por da├▒o',
  `responsable` varchar(150) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_producto_id` (`producto_id`),
  KEY `idx_tipo` (`tipo`),
  KEY `idx_created_at` (`created_at`),
  CONSTRAINT `fk_inv_mov_producto` FOREIGN KEY (`producto_id`) REFERENCES `catalogo_productos` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_inventario_movimientos`
--

LOCK TABLES `admin_inventario_movimientos` WRITE;
/*!40000 ALTER TABLE `admin_inventario_movimientos` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_inventario_movimientos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_inventario_stock`
--

DROP TABLE IF EXISTS `admin_inventario_stock`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_inventario_stock` (
  `producto_id` int(11) NOT NULL COMMENT 'FK -> catalogo_productos.id',
  `stock_actual` int(11) NOT NULL DEFAULT 0,
  `stock_minimo` int(11) NOT NULL DEFAULT 0 COMMENT 'Umbral para alertas',
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`producto_id`),
  CONSTRAINT `fk_inv_stock_producto` FOREIGN KEY (`producto_id`) REFERENCES `catalogo_productos` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_inventario_stock`
--

LOCK TABLES `admin_inventario_stock` WRITE;
/*!40000 ALTER TABLE `admin_inventario_stock` DISABLE KEYS */;
/*!40000 ALTER TABLE `admin_inventario_stock` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `admin_usuarios`
--

DROP TABLE IF EXISTS `admin_usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `admin_usuarios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) NOT NULL,
  `email` varchar(150) NOT NULL,
  `password_hash` varchar(255) NOT NULL COMMENT 'Hash bcrypt del password',
  `activo` tinyint(1) NOT NULL DEFAULT 1,
  `foto_perfil` varchar(500) DEFAULT NULL,
  `telefono` varchar(30) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `admin_usuarios`
--

LOCK TABLES `admin_usuarios` WRITE;
/*!40000 ALTER TABLE `admin_usuarios` DISABLE KEYS */;
INSERT INTO `admin_usuarios` VALUES (1,'Omar Alquicires Mendivil','omi.mendivil@gmail.com','$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi',1,'../uploads/perfiles/admin_1_1776484764.jpg',NULL,'2026-04-18 02:54:06','2026-04-18 03:59:24');
/*!40000 ALTER TABLE `admin_usuarios` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `catalogo_categorias`
--

DROP TABLE IF EXISTS `catalogo_categorias`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `catalogo_categorias` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(200) NOT NULL,
  `descripcion` text DEFAULT NULL,
  `icono` varchar(255) DEFAULT NULL,
  `activa` tinyint(1) NOT NULL DEFAULT 1,
  `orden` int(11) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `catalogo_categorias`
--

LOCK TABLES `catalogo_categorias` WRITE;
/*!40000 ALTER TABLE `catalogo_categorias` DISABLE KEYS */;
/*!40000 ALTER TABLE `catalogo_categorias` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `catalogo_productos`
--

DROP TABLE IF EXISTS `catalogo_productos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `catalogo_productos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `categoria_id` int(11) DEFAULT NULL COMMENT 'FK -> catalogo_categorias.id',
  `codigo` varchar(50) DEFAULT NULL,
  `nombre` varchar(500) NOT NULL,
  `sustancia` text DEFAULT NULL,
  `precio_empresa` decimal(10,2) DEFAULT 0.00,
  `precio_farmacia` decimal(10,2) DEFAULT 0.00,
  `precio_distribuidor` decimal(10,2) DEFAULT 0.00,
  `precio_red_fria` decimal(10,2) DEFAULT 0.00,
  `orden` int(11) DEFAULT 0,
  `tipo` varchar(50) DEFAULT 'SECO',
  `imagen` varchar(255) DEFAULT 'PENDIENTE',
  `solo_empresa` varchar(2) DEFAULT 'NO',
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_categoria` (`categoria_id`),
  CONSTRAINT `fk_producto_categoria` FOREIGN KEY (`categoria_id`) REFERENCES `catalogo_categorias` (`id`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=789 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `catalogo_productos`
--

LOCK TABLES `catalogo_productos` WRITE;
/*!40000 ALTER TABLE `catalogo_productos` DISABLE KEYS */;
/*!40000 ALTER TABLE `catalogo_productos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientes_carrito`
--

DROP TABLE IF EXISTS `clientes_carrito`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clientes_carrito` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cliente_id` int(11) NOT NULL COMMENT 'FK -> clientes_usuarios.id',
  `producto_id` int(11) NOT NULL COMMENT 'FK -> catalogo_productos.id',
  `cantidad` int(11) NOT NULL DEFAULT 1,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_cliente_carrito` (`cliente_id`),
  KEY `idx_producto_carrito` (`producto_id`),
  CONSTRAINT `fk_carrito_cliente` FOREIGN KEY (`cliente_id`) REFERENCES `clientes_usuarios` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_carrito_producto` FOREIGN KEY (`producto_id`) REFERENCES `catalogo_productos` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes_carrito`
--

LOCK TABLES `clientes_carrito` WRITE;
/*!40000 ALTER TABLE `clientes_carrito` DISABLE KEYS */;
/*!40000 ALTER TABLE `clientes_carrito` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientes_contacto_mensajes`
--

DROP TABLE IF EXISTS `clientes_contacto_mensajes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clientes_contacto_mensajes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `nombre` varchar(200) NOT NULL,
  `email` varchar(150) NOT NULL,
  `telefono` varchar(30) DEFAULT NULL,
  `empresa` varchar(300) DEFAULT NULL,
  `mensaje` text NOT NULL,
  `leido` tinyint(1) NOT NULL DEFAULT 0,
  `ip_origen` varchar(45) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_leido` (`leido`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes_contacto_mensajes`
--

LOCK TABLES `clientes_contacto_mensajes` WRITE;
/*!40000 ALTER TABLE `clientes_contacto_mensajes` DISABLE KEYS */;
/*!40000 ALTER TABLE `clientes_contacto_mensajes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientes_direcciones`
--

DROP TABLE IF EXISTS `clientes_direcciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clientes_direcciones` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cliente_id` int(11) NOT NULL COMMENT 'FK -> clientes_usuarios.id',
  `alias` varchar(100) NOT NULL COMMENT 'Ej. Bodega Principal',
  `calle` varchar(300) NOT NULL,
  `numero_exterior` varchar(50) DEFAULT NULL,
  `numero_interior` varchar(50) DEFAULT NULL,
  `colonia` varchar(150) NOT NULL,
  `codigo_postal` varchar(10) NOT NULL,
  `ciudad` varchar(100) NOT NULL,
  `estado` varchar(60) NOT NULL,
  `latitud` decimal(10,8) DEFAULT NULL,
  `longitud` decimal(11,8) DEFAULT NULL,
  `costo_envio` decimal(10,2) NOT NULL DEFAULT 0.00,
  `referencias` text DEFAULT NULL,
  `predeterminada` tinyint(1) NOT NULL DEFAULT 0,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_cliente_direccion` (`cliente_id`),
  CONSTRAINT `fk_direccion_cliente` FOREIGN KEY (`cliente_id`) REFERENCES `clientes_usuarios` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes_direcciones`
--

LOCK TABLES `clientes_direcciones` WRITE;
/*!40000 ALTER TABLE `clientes_direcciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `clientes_direcciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientes_documentos`
--

DROP TABLE IF EXISTS `clientes_documentos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clientes_documentos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `cliente_id` int(11) NOT NULL,
  `tipo_documento` enum('AVISO_FUNCIONAMIENTO','LICENCIA_SANITARIA','CONSTANCIA_FISCAL','IDENTIFICACION','COMPROBANTE_DOMICILIO') NOT NULL,
  `ruta_archivo` varchar(300) NOT NULL,
  `estatus_validacion` enum('PENDIENTE','APROBADO','RECHAZADO') DEFAULT 'PENDIENTE',
  `notas_admin` text DEFAULT NULL,
  `fecha_subida` timestamp NOT NULL DEFAULT current_timestamp(),
  `fecha_actualizacion` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_cliente_documento` (`cliente_id`),
  CONSTRAINT `fk_documento_cliente` FOREIGN KEY (`cliente_id`) REFERENCES `clientes_usuarios` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes_documentos`
--

LOCK TABLES `clientes_documentos` WRITE;
/*!40000 ALTER TABLE `clientes_documentos` DISABLE KEYS */;
/*!40000 ALTER TABLE `clientes_documentos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientes_pedidos`
--

DROP TABLE IF EXISTS `clientes_pedidos`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clientes_pedidos` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `folio` varchar(30) NOT NULL COMMENT 'Ej. ORD-2024-8841',
  `cliente_id` int(11) NOT NULL COMMENT 'FK -> clientes_usuarios.id',
  `direccion_id` int(11) DEFAULT NULL,
  `tipo_cliente` enum('FARMACIA','DISTRIBUIDORA','EMPRESA') NOT NULL,
  `fecha_pedido` date NOT NULL,
  `fecha_entrega` date DEFAULT NULL,
  `monto_total` decimal(14,2) NOT NULL DEFAULT 0.00,
  `metodo_pago` enum('TRANSFERENCIA','CREDITO_30D','CREDITO_60D','EFECTIVO','CHEQUE') DEFAULT 'TRANSFERENCIA',
  `estado_envio` enum('PENDIENTE','PROCESANDO','ENVIADO','ENTREGADO','CANCELADO') NOT NULL DEFAULT 'PENDIENTE',
  `notas` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  UNIQUE KEY `uk_folio` (`folio`),
  KEY `idx_cliente` (`cliente_id`),
  KEY `idx_estado_envio` (`estado_envio`),
  KEY `idx_fecha_pedido` (`fecha_pedido`),
  CONSTRAINT `fk_pedidos_cliente` FOREIGN KEY (`cliente_id`) REFERENCES `clientes_usuarios` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=5 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes_pedidos`
--

LOCK TABLES `clientes_pedidos` WRITE;
/*!40000 ALTER TABLE `clientes_pedidos` DISABLE KEYS */;
INSERT INTO `clientes_pedidos` VALUES (2,'ORD-2026-0001',6,NULL,'EMPRESA','2026-05-05',NULL,2254.80,'TRANSFERENCIA','PENDIENTE',NULL,'2026-05-05 19:20:19','2026-05-05 19:20:19'),(3,'ORD-2026-0003',8,NULL,'DISTRIBUIDORA','2026-05-05',NULL,504.00,'TRANSFERENCIA','PENDIENTE',NULL,'2026-05-06 01:50:14','2026-05-06 01:50:14'),(4,'ORD-2026-0004',8,NULL,'DISTRIBUIDORA','2026-05-05',NULL,2353.90,'TRANSFERENCIA','PROCESANDO',NULL,'2026-05-06 01:54:19','2026-05-06 01:55:40');
/*!40000 ALTER TABLE `clientes_pedidos` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientes_pedidos_comprobantes`
--

DROP TABLE IF EXISTS `clientes_pedidos_comprobantes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clientes_pedidos_comprobantes` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pedido_id` int(11) NOT NULL COMMENT 'FK -> clientes_pedidos.id',
  `ruta_archivo` varchar(300) NOT NULL,
  `monto_declarado` decimal(14,2) DEFAULT NULL,
  `estatus_validacion` enum('PENDIENTE','APROBADO','RECHAZADO') DEFAULT 'PENDIENTE',
  `notas_admin` text DEFAULT NULL,
  `fecha_subida` timestamp NOT NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_pedido_comprobante` (`pedido_id`),
  CONSTRAINT `fk_comprobante_pedido` FOREIGN KEY (`pedido_id`) REFERENCES `clientes_pedidos` (`id`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes_pedidos_comprobantes`
--

LOCK TABLES `clientes_pedidos_comprobantes` WRITE;
/*!40000 ALTER TABLE `clientes_pedidos_comprobantes` DISABLE KEYS */;
/*!40000 ALTER TABLE `clientes_pedidos_comprobantes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientes_pedidos_detalle`
--

DROP TABLE IF EXISTS `clientes_pedidos_detalle`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clientes_pedidos_detalle` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `pedido_id` int(11) NOT NULL COMMENT 'FK -> clientes_pedidos.id',
  `producto_id` int(11) NOT NULL COMMENT 'FK -> catalogo_productos.id',
  `nombre_producto` varchar(500) NOT NULL COMMENT 'Snapshot del nombre en el momento de venta',
  `cantidad` int(11) NOT NULL DEFAULT 1,
  `precio_unitario` decimal(10,2) NOT NULL DEFAULT 0.00,
  `subtotal` decimal(14,2) NOT NULL DEFAULT 0.00,
  PRIMARY KEY (`id`),
  KEY `idx_pedido_id` (`pedido_id`),
  KEY `idx_producto_id` (`producto_id`),
  CONSTRAINT `fk_detalle_pedido` FOREIGN KEY (`pedido_id`) REFERENCES `clientes_pedidos` (`id`) ON DELETE CASCADE ON UPDATE CASCADE,
  CONSTRAINT `fk_detalle_producto` FOREIGN KEY (`producto_id`) REFERENCES `catalogo_productos` (`id`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes_pedidos_detalle`
--

LOCK TABLES `clientes_pedidos_detalle` WRITE;
/*!40000 ALTER TABLE `clientes_pedidos_detalle` DISABLE KEYS */;
INSERT INTO `clientes_pedidos_detalle` VALUES (2,2,4,'ACCOCEPT 500 MG CON 50 TABLETAS',3,751.60,2254.80),(3,3,1,'A.S. COR 1 G/100 ML SOL. FCO. GOTERO CON 24 ML',2,252.00,504.00),(4,4,1,'A.S. COR 1 G/100 ML SOL. FCO. GOTERO CON 24 ML',5,252.00,1260.00),(5,4,2,'ABATELENGUAS DE MADERA (AMBIDERM) BOLSA CON 25 PZS.',1,7.44,7.44),(6,4,3,'ABATELENGUAS DE MADERA CAJA CON 100 PIEZAS AMBIDERM',1,40.96,40.96),(7,4,4,'ACCOCEPT 500 MG CON 50 TABLETAS',1,692.36,692.36),(8,4,5,'ACCOCIT RTU 10MG/10 ML CON 1 FRASCO AMPULA',1,130.91,130.91),(9,4,6,'ACCOCIT RTU 50 MG/50 ML CON 1 FRASCO AMPULA',1,222.23,222.23);
/*!40000 ALTER TABLE `clientes_pedidos_detalle` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientes_solicitudes_registro`
--

DROP TABLE IF EXISTS `clientes_solicitudes_registro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clientes_solicitudes_registro` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tipo_cliente` enum('FARMACIA','DISTRIBUIDORA','EMPRESA') NOT NULL,
  `razon_social` varchar(300) NOT NULL,
  `rfc` varchar(20) DEFAULT NULL,
  `regimen_fiscal` varchar(150) DEFAULT NULL,
  `domicilio_fiscal` varchar(400) DEFAULT NULL,
  `colonia` varchar(150) DEFAULT NULL,
  `cp` varchar(10) DEFAULT NULL,
  `ciudad` varchar(100) DEFAULT NULL,
  `estado` varchar(60) DEFAULT NULL,
  `representante` varchar(200) DEFAULT NULL,
  `nombre_comercial` varchar(300) DEFAULT NULL,
  `giro` varchar(300) DEFAULT NULL,
  `persona_contacto` varchar(200) DEFAULT NULL,
  `volumen_mensual` varchar(50) DEFAULT NULL,
  `telefono_local` varchar(20) DEFAULT NULL,
  `telefono_celular` varchar(20) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `documento_tipo` varchar(20) DEFAULT 'FACTURA',
  `metodo_pago` varchar(30) DEFAULT 'TRANSFERENCIA',
  `uso_cfdi` varchar(100) DEFAULT NULL,
  `domicilio_entrega` varchar(400) DEFAULT NULL,
  `colonia_entrega` varchar(150) DEFAULT NULL,
  `cp_entrega` varchar(10) DEFAULT NULL,
  `ciudad_entrega` varchar(100) DEFAULT NULL,
  `municipio_entrega` varchar(100) DEFAULT NULL,
  `estado_entrega` varchar(60) DEFAULT NULL,
  `receptor_entrega` varchar(200) DEFAULT NULL,
  `horario_entrega` varchar(200) DEFAULT NULL,
  `estatus` enum('PENDIENTE','APROBADA','RECHAZADA') NOT NULL DEFAULT 'PENDIENTE',
  `notas_admin` text DEFAULT NULL,
  `ip_origen` varchar(45) DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_estatus` (`estatus`),
  KEY `idx_tipo_cliente` (`tipo_cliente`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes_solicitudes_registro`
--

LOCK TABLES `clientes_solicitudes_registro` WRITE;
/*!40000 ALTER TABLE `clientes_solicitudes_registro` DISABLE KEYS */;
/*!40000 ALTER TABLE `clientes_solicitudes_registro` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `clientes_usuarios`
--

DROP TABLE IF EXISTS `clientes_usuarios`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `clientes_usuarios` (
  `id` int(11) NOT NULL AUTO_INCREMENT,
  `tipo` enum('FARMACIA','DISTRIBUIDORA','EMPRESA') NOT NULL DEFAULT 'FARMACIA',
  `razon_social` varchar(300) NOT NULL COMMENT 'Nombre o Raz├│n Social',
  `nombre_comercial` varchar(300) DEFAULT NULL,
  `rfc` varchar(20) DEFAULT NULL,
  `regimen_fiscal` varchar(150) DEFAULT NULL,
  `domicilio_fiscal` varchar(400) DEFAULT NULL,
  `colonia_fiscal` varchar(150) DEFAULT NULL,
  `cp_fiscal` varchar(10) DEFAULT NULL,
  `ciudad_fiscal` varchar(100) DEFAULT NULL,
  `estado_fiscal` varchar(60) DEFAULT NULL,
  `representante_legal` varchar(200) DEFAULT NULL,
  `giro` varchar(300) DEFAULT NULL,
  `persona_contacto` varchar(200) DEFAULT NULL,
  `volumen_mensual` decimal(12,2) DEFAULT 0.00,
  `telefono_local` varchar(20) DEFAULT NULL,
  `telefono_celular` varchar(20) DEFAULT NULL,
  `email` varchar(150) DEFAULT NULL,
  `foto_perfil` varchar(255) DEFAULT NULL,
  `password_hash` varchar(255) DEFAULT NULL,
  `documento_tipo` enum('NOTA','FACTURA') DEFAULT 'FACTURA',
  `metodo_pago` enum('TRANSFERENCIA','CHEQUE','EFECTIVO') DEFAULT 'TRANSFERENCIA',
  `uso_cfdi` varchar(100) DEFAULT NULL,
  `domicilio_entrega` varchar(400) DEFAULT NULL,
  `colonia_entrega` varchar(150) DEFAULT NULL,
  `cp_entrega` varchar(10) DEFAULT NULL,
  `ciudad_entrega` varchar(100) DEFAULT NULL,
  `municipio_entrega` varchar(100) DEFAULT NULL,
  `estado_entrega` varchar(60) DEFAULT NULL,
  `receptor_entrega` varchar(200) DEFAULT NULL,
  `horario_entrega` varchar(200) DEFAULT NULL,
  `estatus` enum('ACTIVO','INACTIVO','DOCS_PENDIENTES') NOT NULL DEFAULT 'DOCS_PENDIENTES',
  `agente_id` int(11) DEFAULT NULL COMMENT 'FK -> admin_usuarios.id',
  `notas` text DEFAULT NULL,
  `created_at` timestamp NOT NULL DEFAULT current_timestamp(),
  `updated_at` timestamp NOT NULL DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`id`),
  KEY `idx_tipo` (`tipo`),
  KEY `idx_estatus` (`estatus`),
  KEY `idx_rfc` (`rfc`)
) ENGINE=InnoDB AUTO_INCREMENT=9 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `clientes_usuarios`
--

LOCK TABLES `clientes_usuarios` WRITE;
/*!40000 ALTER TABLE `clientes_usuarios` DISABLE KEYS */;
/*!40000 ALTER TABLE `clientes_usuarios` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-05-19 22:04:38
